*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    background-color: hsl(236, 33%, 92%);
    overflow-x: hidden;
    overflow-y: scroll;
}


.background-img {
    background: url("../images/bg-mobile-light.jpg");
    width:100%;
    height: 200px;
    position:fixed;
    top: 0;
    z-index: -1;
}

h1 {
    /* border: 1px solid black; */
    color: hsl(0, 0%, 98%);
    font-family:"Josefin Sans";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    width: 88%;
    margin: 30px auto;
}

h1 span {
    /* border: 1px solid black; */
    margin: 0 10px 0 0;
    float: right;
}

.header {
    margin-bottom: 20px; 
}

input {
    background: hsl(0, 0%, 98%);
    border: none;
    border-radius: 6px;
    border-color: hsl(0, 0%, 98%);
    display: block;
    font-family: "Josefin Sans";
    width: 88%;
    margin: 0 auto;
    height: 45px;
    font-size: 13px;
}

.items-left {
    background-color: hsl(0, 0%, 98%);
    border-radius: 2.5px;
    border: 1px solid hsl(0, 0%, 98%);
    border-radius: 0 0 5px 5px;
    width: 88%;
    margin: 0 auto 20px auto;
    height: 45px;
}

.items-left p {
    display: inline-block;
    font-family: "Josefin Sans";
    font-size: 13px;
    color:hsl(236, 9%, 61%)
}

.item-text {
    float: right;
    margin-right: 20px;
}

#item-num {
    margin-left: 20px;
}

.navigation {
    background-color: hsl(0, 0%, 98%);
    border-radius: 2.5px;
    border: 1px solid hsl(0, 0%, 98%);
    border-radius: 5px;
    width: 88%;
    margin: 0 auto;
    height: 45px;
}

.navigation ul {
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

li {
    background-color: hsl(0, 0%, 98%);
    list-style: none;
    display: inline-block;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 15px;
    text-decoration: none;
    margin: 0 8px 0 8px;
    /* width: 85%; */
    /* height: 45px; */
}

a {
    color:hsl(236, 9%, 61%);
    text-decoration: none;
}

.footer {
    width: fit-content;
    font-family: "Josefin Sans";
    color:hsl(236, 9%, 61%);
    margin: 40px auto;
}